<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>Atomex launcher</string>

        <key>RunAtLoad</key>
        <false/>

        <key>StartInterval</key>
        <integer>2</integer>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>/usr/bin/open /Applications/Atomex.app;launchctl unload ~/Library/LaunchAgents/com.atomex.osx.plist</string>
        </array>
    </dict>
</plist>
