<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--	<Fragment>-->
<!--		<Directory Id="TARGETDIR" Name="SourceDir">-->
<!--			&lt;!&ndash; Start Menu &ndash;&gt;-->
<!--			<Directory Id="ProgramMenuFolder">-->
<!--				<Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductNameFolder)" />-->
<!--			</Directory>-->

<!--			<Directory Id="DesktopFolder" Name="Desktop" />-->

<!--			<Directory Id="LocalAppDataFolder">-->
<!--				<Directory Id="INSTALLFOLDER" Name='!(loc.ProductNameFolder)'/>-->
<!--			</Directory>-->

<!--&lt;!&ndash;			<Directory Id="ProgramFiles64Folder">&ndash;&gt;-->
<!--&lt;!&ndash;					<Directory Id="AppRootDirectory" Name="$!(loc.ProductNameFolder)">&ndash;&gt;-->
<!--&lt;!&ndash;						<Directory Id="INSTALLFOLDER" Name="$(loc.ProductNameFolder)" />&ndash;&gt;-->
<!--&lt;!&ndash;					</Directory>&ndash;&gt;-->
<!--&lt;!&ndash;			</Directory>&ndash;&gt;-->

<!--&lt;!&ndash;			<?if $(var.Platform)=x64 ?>&ndash;&gt;-->
<!--&lt;!&ndash;			&lt;!&ndash; Program Files (64bit) folder &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;			<Directory Id="ProgramFiles64Folder">&ndash;&gt;-->
<!--&lt;!&ndash;				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />&ndash;&gt;-->
<!--&lt;!&ndash;			</Directory>&ndash;&gt;-->
<!--&lt;!&ndash;			&ndash;&gt;-->
<!--&lt;!&ndash;			<?else?>&ndash;&gt;-->
<!--&lt;!&ndash;			&ndash;&gt;-->
<!--&lt;!&ndash;			&lt;!&ndash; Program Files (32bit) folder &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;			<Directory Id="ProgramFilesFolder">&ndash;&gt;-->
<!--&lt;!&ndash;				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />&ndash;&gt;-->
<!--&lt;!&ndash;			</Directory>&ndash;&gt;-->
<!--&lt;!&ndash;			<?endif?>&ndash;&gt;-->
<!--		</Directory>-->
<!--	</Fragment>-->
</Wix>